body {
}


#header{
    background: #4c75e8;
    width: 100%;
    height: 20%;
    position: absolute;
}
#menu{
    background: #808080;
    width: 20%;
    height: 60%;
    position: absolute;
    top: 20%;
}
#content{
    background: #ffffff;
    width: 80%;
    height: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
}
#footer{
    background: #ff6a00;
    width: 100%;
    height: 5%;
    top: 80%;
    position: absolute;
}

#news{
background: #a8a86f;
    width: 20%;
    height: 100%;
    position: absolute;
    left: 80%;
    top: 0;
}